.preSale {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);
  padding: 100px 0px;
}
.preSaleBox {
  width: 90%;
  max-width: 800px;
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background: linear-gradient(
    97.72deg,
    rgba(66, 86, 103, 0.14) 0%,
    rgba(32, 41, 50, 0.16) 100%
  );
  border-radius: 8px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  box-shadow: -1px -1px 10px 0.5px var(--red-color), 1px 0 4px 0.5px #ff0174;
}
.topBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 480px;
  text-align: center;
  gap: 20px;
}
.topBox h1 {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
}
.timerDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.timeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}
.timeBox h2 {
  font-size: 60px;
  color: white;
  font-weight: 600;
  line-height: 1;
}
.timeBox p {
  line-height: 1;
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.topBox h3 {
  color: var(--red-color);
  font-size: 20px;
}
.sliderDiv {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 5px;
}
.sliderDiv .line {
  width: 100%;
  height: 8px;
  border-radius: 100vh;
  background: linear-gradient(to right, var(--red-color), red);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sliderDiv .row p {
  color: white;
  font-size: 16px;
}
.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  gap: 5px;
}
.inputDiv .row h4 {
  color: white;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}
.inputCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.inputRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 39px;
}
.inputRow input {
  flex: 1;
  height: 100%;
  font-size: 14px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 10px;
}
.max {
  height: 100%;
  background-color: var(--black-color);
  border: 2px solid var(--red-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inputCol .row p {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}
.row h5 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 20px;
}
.inputDiv > button {
  margin-top: 30px;
}
.statusDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  gap: 3px;
}
.statusDiv .row:not(:last-child) {
  border-bottom: 2px solid var(--red-color);
}
.statusDiv .row h3 {
  font-size: 16px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.statusDiv .row p {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}
.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 778px) {
  .preSaleBox {
    padding-inline: 20px;
  }
  .topBox,
  .sliderDiv,
  .inputDiv,
  .statusDiv {
    width: 100%;
  }
}
@media screen and (max-width: 778px) {
  .preSaleBox {
    width: 400px;
  }
  .timeBox h2 {
    font-size: 40px;
  }
  .inputDiv > .row {
    gap: 30px;
  }
  .inputRow {
    width: fit-content;
  }
  .timerDiv {
    justify-content: space-between;
  }
  .inputRow input {
    flex: 1;
    width: auto;
  }
  .inputCol {
    width: fit-content;
  }
  .inputDiv h5 {
    width: auto;
    display: inline-block;
    text-align: right;
    min-width: 53px;
  }
  .statusDiv .row {
    gap: 20px;
  }
  .statusDiv .row p {
    text-align: right;
  }
}
@media screen and (max-width: 430px) {
  .preSaleBox {
    width: 350px;
  }
  .inputDiv > .row {
    flex-direction: column;
  }
  .inputRow {
    width: 100%;
  }
  .inputDiv .row h4 {
    font-size: 16px;
  }
  .inputDiv h5 {
    font-size: 17px;
    min-width: 55px;
  }
  .statusDiv .row h3,
  .statusDiv .row p {
    font-size: 15px;
  }
  .btnDiv {
    width: 100%;
    flex-direction: column;
  }
  .btnDiv button {
    width: 100%;
  }
  .inputRow input {
    flex: none;
    width: 80%;
  }
  .inputDiv .row h4:last-child {
    text-align: right;
  }
}
