.lotteryCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background: var(--black-color);
  isolation: isolate;
  padding-top: 70px;
  height: 500px;
  overflow: hidden;
}
.radial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: -1;
  width: 100%;
  object-fit: contain;
  pointer-events: none;
}
.lottery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  position: relative;
}
.lottery h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: white;
}
.lottery h1 {
  color: var(--red-color);
  font-weight: 600;
  line-height: 1;
  font-size: 64px;
}
.btnDiv {
  position: relative;
  animation: swing 3s ease-in-out infinite alternate;
}
.btnDiv img {
  width: 300px;
  object-fit: contain;
  transform: rotate(-6deg);
}
.btnDiv button {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-6deg);
  width: 240px;
  background: var(--black-color);
  height: 48px;
  color: white;
  border-radius: 10px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease-in-out;
}
.btnDiv button:hover {
  opacity: 0.65;
}
.s1,
.s2,
.s3,
.t1,
.t2 {
  position: absolute;
  object-fit: contain;
  z-index: 0;
}
.s2 {
  top: 0;
  left: 0;
  max-width: 70px;
  animation: move 3.5s ease-in-out infinite alternate;
}
.s1 {
  top: 43%;
  left: 0;
  max-width: 100px;
  animation: move 3s 0.7s ease-in-out infinite alternate;
}
.s3 {
  top: 0%;
  right: 0;
  max-width: 130px;
  animation: move 3s 0.2s ease-in-out infinite alternate;
}
.t1 {
  left: 10%;
  top: 73%;
  animation: move2 3s ease-in-out infinite alternate;
  max-width: 120px;
}
.t2 {
  right: 10%;
  top: 73%;
  animation: move2 3s ease-in-out infinite alternate;
  max-width: 120px;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes move2 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-10px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* section2 starts here ----------------------------------------- */
.sec2Cont {
  display: flex;
  justify-content: center;
  background: var(--black-color);
  padding: 48px 20px;
  width: 100%;
}
.sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  gap: 2rem;
}
.sec2Head {
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}
.row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.row h2 {
  color: white;
  font-size: 20px;
  line-height: 1.4;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.time {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
}
.time p,
.time h1 {
  color: var(--red-color);
  font-weight: 600;
  line-height: 1;
}
.time h1 {
  font-size: 40px !important;
}
.time p {
  line-height: 1.4 !important;
  font-size: 20px !important;
}
.drawBox,
.hisBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 755px;
  background: rgb(255, 255, 255);
  border-radius: 24px;
  overflow: hidden;
}
.drawHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    111.68deg,
    rgb(242, 236, 242) 0%,
    rgb(232, 242, 246) 100%
  );
  padding: 16px 24px;
  width: 100%;
  height: 70px;
}
.drawHead h2,
.rowPrize h2 {
  color: var(--black-color);
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}
.drawHead p {
  color: var(--black-color);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}
.drawPrize {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 175px;
  padding: 24px;
  width: 100%;
  background-color: white;
  gap: 30px;
}
.rowPrize {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.col h1,
.col p {
  color: var(--red-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}
.col p {
  font-weight: 400 !important;
  font-size: 14px !important;
}
.hideBtn {
  background-color: white;
  width: 100%;
  text-align: center;
  color: var(--red-color);
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0px;
  border-top: 2px solid rgb(231, 227, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  user-select: none;
  cursor: pointer;
}
.hiddenBox {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(250, 249, 250);
  padding: 20px 24px;
  width: 100%;
  border-top: 1px solid rgb(231, 227, 235);
  display: none;
}

.rotate {
  transform: rotate(180deg);
}
.hiddenBox p {
  color: var(--black-color);
  font-weight: 400;
  line-height: 1;
  margin-bottom: 16px;
  font-size: 14px;
}
.lotGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 100%;
}
.lotCol {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.lotCol h2 {
  color: var(--red-color);
  font-weight: 600;
  line-height: 1;
  font-size: 16px;
}
.lotCol h1 {
  color: var(--black-color);
  font-weight: 600;
  line-height: 1;
  font-size: 20px;
}
.lotCol p {
  color: var(--black-color);
  font-weight: 400;
  line-height: 1;
  font-size: 14px;
}
/* section 3 starts here ------------------------- */
.sec3Cont {
  background: var(--black-color);
  padding: 68px 0px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sec3 {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sec3 img {
  max-width: 120px;
  object-fit: contain;
}
.sec3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.sec3 h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: white;
  max-width: 250px;
  text-align: center;
}
/* section 4 starts here -------------------- */
.sec4Cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--black-color);
  height: auto;
  padding: 4rem 0rem;
}
.sec4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
.sec4Head {
  font-size: 40px;
  color: white;
  line-height: 1;
  font-weight: 600;
}
.finishSwitch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(215, 202, 236);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  max-width: 250px;
}
.finishSwitch h2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--black-color);
  padding: 5px 12px;
  text-align: center;
  user-select: none;
}
.finishSwitch h2:active {
  transform: scale(0.9);
}
.finishSwitch .activeLive {
  background-color: var(--red-color);
  color: rgb(255, 255, 255);
  border-radius: 16px;
}

.topHisBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
}
.leftHisBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.leftHisBox h1 {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.leftHisBox input {
  background-color: rgb(238, 234, 244);
  border-radius: 16px;
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  color: rgb(40, 13, 95);
  display: block;
  font-size: 16px;
  height: 100%;
  padding: 4px 16px;
  outline: 0px;
  width: 60px;
  border: 1px solid rgb(215, 202, 236);
}
/* Chrome, Safari, Edge, Opera */
.leftHisBox input::-webkit-outer-spin-button,
.leftHisBox input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.leftHisBox input[type="number"] {
  -moz-appearance: textfield;
}
.leftHisBox p {
  color: var(--black-color);
  font-weight: 400;
  line-height: 1;
  font-size: 14px;
}
.rightHisBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.rightHisBox svg {
  color: var(--black-color);
  cursor: pointer;
  font-size: 16px;
}
.rightHisBox .line {
  padding-right: 5px;
  border-right: 2px solid var(--black-color);
}
.hisBoxMid {
  padding: 24px;
  border-top: 2px solid rgb(231, 227, 235);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: 120px;
  overflow: hidden;
}
.hisBoxMid h2,
.colBox h2 {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 40px;
}
.circleDiv {
  position: relative;
  width: 71px;
  height: 71px;
}
.circleDiv img {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}
.circleDiv h3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgb(0, 0, 0);
  text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px,
    white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
  font-weight: 600;
  line-height: 1;
  font-size: 42px;
}
.latest {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  background-color: var(--black-color);
  color: white;
  padding: 8px 0px;
  text-align: center;
  transform: translateX(43%) translateY(-38%) rotate(45deg);
  transform-origin: left top;
  width: 96px;
}
.latest p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 96px;
}
.latest::before,
.latest::after {
  background-color: var(--black-color);
  content: "";
  height: 100%;
  margin: 0px -1px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.latest::before {
  right: 100%;
}
.latest::after {
  left: 100%;
}
.hiddenBoxHis {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 2px solid rgb(231, 227, 235);
  height: 375px;
  background: rgb(250, 249, 250);
  padding: 24px;
  gap: 20px;
}
.leftHiddenBox {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  flex: 0.2;
}
.colBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.colBox h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  color: var(--red-color);
}
.colBox p,
.leftHiddenBox p,
.rightHiddenBox p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: var(--black-color);
}
.rightHiddenBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 0.8;
  gap: 2rem;
}
.yourMidBox {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  min-height: 240px;
  height: auto;
  width: 100%;
}
.yourMidBox p {
  color: var(--black-color);
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  text-align: center;
}
.yourMidBox h3 {
  color: var(--red-color);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  font-size: 16px;
}
.bottomYourBox {
  color: var(--red-color);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  font-size: 12px;
  padding: 24px;
  border-top: 1px solid rgb(231, 227, 235);
  width: 100%;
}
/* section 5 starts here ------------------------------ */
.sec5Cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--black-color);
  padding: 48px 24px;
}
.sec5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}
.sec5Head {
  color: white;
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
}
.sec5Desc {
  color: var(--red-color);
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  max-width: 700px;
}
.cardRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-bottom: 2rem;
}
.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: rgb(255, 255, 255);
  height: 200px;
  width: 366px;
  border-radius: 24px;
  width: 100%;
  border: 2px solid rgb(231, 227, 235);
  gap: 20px;
  padding-inline: 24px;
}
.card p {
  color: var(--black-color);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  align-self: flex-end;
}
.card h4 {
  color: var(--red-color);
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}
.card h5 {
  color: var(--black-color);
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
}
.criteria {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 6rem;
  padding: 3rem 0rem;
  border-top: 1px solid rgb(231, 227, 235);
}
.criteria:last-of-type {
  border-bottom: 1px solid rgb(231, 227, 235);
}
.leftCriteria {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.leftCriteria h3 {
  color: var(--red-color);
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}
.leftCriteria h4 {
  color: white;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}
.leftCriteria p,
.leftCriteria li {
  color: white;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}
.leftCriteria ul {
  list-style-position: inside;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.rightCriteria {
  width: 100%;
  padding: 24px;
  background: rgb(255, 255, 255);
  border-radius: 24px;
  height: 210px;
  max-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgb(231, 227, 235);
  border-bottom: none;
  box-shadow: 0px 3px 0px 1px rgb(231, 227, 235);
}
.criRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.criRow h5 {
  color: var(--black-color);
  font-size: 20px;
}
.rightCriteria .numbers {
  padding: 0px;
  width: 90%;
  align-self: flex-end;
  justify-content: space-between;
}
.rightCriteria .circleDiv {
  width: 30px;
  height: 30px;
}
.rightCriteria .circleDiv h3 {
  font-size: 16px;
}
.chartDiv {
  width: 100%;
  padding: 24px;
  background: rgb(255, 255, 255);
  border-radius: 24px;
  min-height: 400px;
  max-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border: 1px solid rgb(231, 227, 235);
  border-bottom: none;
  box-shadow: 0px 3px 0px 1px rgb(231, 227, 235);
}
.chartRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.chartRow p {
  color: var(--red-color);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
}
.chartRow h4,
.chartRow h5 {
  color: var(--black-color);
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
}
.chartRow h5 {
  font-weight: 600;
}
.color {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color div {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.color1 {
  background-color: rgb(255, 227, 98);
}
.color2 {
  background-color: rgb(133, 197, 78);
}
.color3 {
  background-color: rgb(2, 142, 117);
}
.color4 {
  background-color: rgb(54, 232, 245);
}
.color5 {
  background-color: rgb(168, 129, 252);
}
.color6 {
  background-color: rgb(215, 80, 178);
}
.color7 {
  background-color: rgb(189, 194, 196);
}

/* responsive starts here ---------------------------------------- */
@media screen and (max-width: 966px) {
  .cardRow {
    flex-direction: column;
    justify-content: center;
  }
  .criteria {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 850px) {
  .sec4 {
    padding-inline: 20px;
  }
  .s1,
  .s2,
  .s3,
  .t1,
  .t2 {
    display: none;
  }
  .drawBox,
  .hisBox {
    width: 100%;
  }
  .drawPrize {
    align-items: center;
    height: auto;
  }
  .rowPrize {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .hisBoxMid {
    gap: 20px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hiddenBoxHis {
    flex-direction: column;
    height: auto;
  }
  .leftHiddenBox,
  .rightHiddenBox {
    flex: none;
    width: 100%;
    height: auto;
  }
  .leftHiddenBox {
    margin-bottom: 2rem;
    justify-content: center;
    align-items: flex-start;
  }
  .numbers {
    padding: 0px;
  }
  .circleDiv {
    width: 40px;
    height: 40px;
  }
  .circleDiv h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 546px) {
  .lotGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-auto-rows: 1fr;
  }
  .sec2Head {
    font-size: 30px;
  }
  .drawHead h2 {
    font-size: 14px;
  }
  .drawHead p {
    font-size: 14px;
  }
  .sec3 {
    gap: 0px;
  }
  .sec3 img {
    max-width: 50px;
  }
}
/* util ------------------- */
.display {
  display: flex;
}
